# 1. ETL and analysis for e-commerce big data

##### Jeff Guo; Aug 25, 2016; guojianfu@gmail.com

## 1.3 Data warehouse construction

In [1]:
import pandas as pd
import numpy as np

xl = pd.ExcelFile("dognition_data_aggregated_by_dogid.xlsx")
df = xl.parse("dog_id_max_ranks")
num = np.sum(df.isnull().values, axis = 1).tolist()
db = df.drop(df.index[[num.index(22)]])
db2 = db.copy()
for y in db2.columns:
    if db2[y].dtype == object:
        db2[y] = db2[y].astype('category')
db2['Dog_Fixed'] = db2['Dog_Fixed'].astype('category') 
db2['DNA_Tested'] = db2['DNA_Tested'].astype('category')
db2['Subscribed'] = db2['Subscribed'].astype('category')

In [2]:
print db2['Subscribed'].dtype
print db2['Subscribed'].cat.categories.dtype
print
print db2['Gender'].dtype
print db2['Gender'].cat.categories.dtype

# min(db2['Weight'])
# a = db2['Weight'].astype('category')
# print a.value_counts()
# db2['Weight']
# db2['Weight'] = db2['Weight'].astype('category')
# b = db2['Weight']
# b[b == 0.0] = np.NaN
# db2['Weight'][db2['Weight'] == 0.0] = np.NaN

# print db2['Weight'].value_counts()
# db2['Weight'].loc[db2['Weight'] == 0.0] = 0.1
db2.loc[db2['Weight'] == 0.0,'Weight'] = 0.1

# db2['Weight'].cat.remove_unused_categories()
# print db2['Weight'].cat.categories
# c = db2['Weight'].cat.categories.tolist()
# print c
# c.remove(0.0)
# db2['Weight'].cat.categories = c
# print db2['Weight'].value_counts()
# print db2['Max_Dogs'].value_counts()
# db2['Max_Dogs'] = db2['Max_Dogs'].astype('category')
# c = db2['Max_Dogs']
# c[c == 0.0] = 1.0

# for i in db2['Max_Dogs']:
#     if i == 0.0:
#         i = 1.0
# db2['Max_Dogs'][db2['Max_Dogs'] == 0.0] = 1.0

# idx = db2['Max_Dogs'][db2['Max_Dogs'] == 0.0].index.tolist()
# print idx
# db2['Max_Dogs'].loc[idx] = 1.0
# print db2['Max_Dogs'].loc[idx]
# print db2['Max_Dogs'].loc[0]

# print db2['Max_Dogs'].value_counts()

# db2['Last_Active_At']

category
float64

category
object

In [3]:
# db2['Max_Dogs'].loc[db2['Max_Dogs'] == 0.0] = 1.0
db2.loc[db2['Max_Dogs'] == 0.0, 'Max_Dogs'] = 1.0

In [4]:
db2['Last_Active_At'] = db2['Last_Active_At'].cat.as_ordered()
print db2.dtypes
print
# print db2['Dog ID'].dtype == 'category'
# print db2['Total Tests Completed'].dtype
for i in db2.columns:
    if db2[i].dtype.name == 'category' and db2[i].cat.ordered == True:
        print i

Dog ID                                             category
Total Tests Completed                                 int64
Mean ITI (days)                                     float64
Mean ITI (minutes)                                  float64
Median ITI (days)                                   float64
Median ITI (minutes)                                float64
Time diff between first and last game (days)        float64
Time diff between first and last game (minutes)     float64
User ID                                            category
Gender                                             category
Birthday                                            float64
Breed                                              category
Breed_Type                                         category
Breed_Group                                        category
Weight                                              float64
Dog_Fixed                                          category
DNA_Tested                                         category
Dimension                                          category
Sign_in_Count                                       float64
Max_Dogs                                            float64
Membership_ID                                       float64
Subscribed                                         category
City                                               category
State                                              category
Zip                                                category
Country                                            category
Exclude                                            category
Free_Start_User                                    category
Last_Active_At                                     category
Membership_Type                                    category
dtype: object

Last_Active_At

In [5]:
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://new_user:new_password@localhost:3306/menagerie', 
                       echo=False)
# engine = create_engine('mysql+mysqlconnector://new_user:new_password@localhost/menagerie',\ 
#                        echo=False)

# db2.head()
# db2.head().to_sql(name='sample_table1', con=engine, if_exists = 'fail', index=False)

In [6]:
db3 = db2.copy()
db3.index.name = 'dog_id_id'
the_user_id = {i:j for i,j in enumerate(db2['User ID'].cat.categories.tolist())}
# the_user_id[0]
# len(the_user_id)
# for i in the_user_id.keys():
#     db2['User ID'].loc[db2['User ID'] == the_user_id[i]] = i
db3['User ID'] = 0
db3['User ID'].astype('int64') 
db3.dtypes
# for i in the_user_id.keys():
#     db3['User ID'].loc[db2['User ID'] == the_user_id[i]] = i
# db3['User ID']

Dog ID                                             category
Total Tests Completed                                 int64
Mean ITI (days)                                     float64
Mean ITI (minutes)                                  float64
Median ITI (days)                                   float64
Median ITI (minutes)                                float64
Time diff between first and last game (days)        float64
Time diff between first and last game (minutes)     float64
User ID                                               int64
Gender                                             category
Birthday                                            float64
Breed                                              category
Breed_Type                                         category
Breed_Group                                        category
Weight                                              float64
Dog_Fixed                                          category
DNA_Tested                                         category
Dimension                                          category
Sign_in_Count                                       float64
Max_Dogs                                            float64
Membership_ID                                       float64
Subscribed                                         category
City                                               category
State                                              category
Zip                                                category
Country                                            category
Exclude                                            category
Free_Start_User                                    category
Last_Active_At                                     category
Membership_Type                                    category
dtype: object

In [7]:
for i in the_user_id.keys():
    db3.loc[db2['User ID'] == the_user_id[i],'User ID'] = i
db3['User ID']

dog_id_id
0            4
1            7
2            9
3            5
4           12
5           14
6           12
7           13
8           16
9           17
10          18
11          19
12          20
13          21
14           2
15          23
16          21
17          21
18          24
19          26
20          27
21          30
22          29
23          31
24          31
25          32
26          33
27          34
28          34
29          22
         ...
17956    16234
17957    16235
17958    16236
17959    16226
17960    16237
17961    16238
17962    16239
17963    16240
17964    16242
17965    16243
17966    16244
17967    16245
17968    16246
17969    16241
17970    16247
17971    16249
17972    16250
17973    16251
17974    16252
17975    16253
17976    16248
17977    16253
17978     5187
17979    16254
17980    16255
17981    16256
17982    16257
17983    16258
17984    16259
17985    16260
Name: User ID, dtype: int64