In [1]:
import pandas as pd
xl = pd.ExcelFile("dognition_data_aggregated_by_dogid.xlsx")
# xlrd is used by pandas
xl.sheet_names
df = xl.parse("dog_id_max_ranks")
df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Grand Forks,ND,58201,US,0,0,2015-03-12 00:25:00,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Barre,MA,01005,US,0,0,00:00:00,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Darien,CT,06820,US,0,0,00:00:00,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Winnetka,IL,60093,US,0,0,2014-09-12 19:26:00,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2

In [60]:
import numpy as np

type(df.head())
pd.isnull(df.head())
pd.isnull(df.head()).columns
pd.isnull(df.head()).columns.dtype
pd.isnull(df.head())['Dog ID'].dtype
# type(pd.isnull(df.head()).columns)
type(pd.isnull(df.head()))
# for y in pd.isnull(df.head()).columns:
#     print pd.isnull(df.head())[y].dtype
set([pd.isnull(df.head())[y].dtype for y in pd.isnull(df.head()).columns]) 
pd.isnull(df.head())['Dog ID'].dtype == np.float64
pd.isnull(df.head())['Dog ID'].dtype == np.int64
pd.isnull(df.head())['Dog ID'].dtype == np.bool

# print pd.isnull(df.head())['Dog ID'].dtype

# print df.head().columns

print [df.head()[y].dtype for y in df.head().columns]
print
print df.head()['Dog ID'].dtype
df.head()['Dog ID']

[i for i in df.head()['Dog ID']]

[dtype('O'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

object

[u'fd27b272-7144-11e5-ba71-058fbc01cf0b',
 u'fd27b5ba-7144-11e5-ba71-058fbc01cf0b',
 u'fd27b6b4-7144-11e5-ba71-058fbc01cf0b',
 u'fd27b79a-7144-11e5-ba71-058fbc01cf0b',
 u'fd27b86c-7144-11e5-ba71-058fbc01cf0b']

In [76]:
import pandas as pd
import numpy as np
s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
print s.isnull()
print
print s[s.isnull()]
print
# print pd.isnull(df.head())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

3   NaN
6   NaN
dtype: float64

In [104]:
import numpy as np

df.head().isnull().values
type(df.head().isnull().values)
df.head().isnull().values.dtype
# df.head().dtype
# df.head().isnull().dtype
df.head().isnull().values.any()
df.isnull().values.any()

# %timeit df.isnull().values.any()

type(df.head().isnull().any())

df.head().isnull().sum()

df.isnull().any()

df.isnull().sum().sum()

print df.isnull().sum()

# barplot, histogram, boxplot

print np.sum(df.head().isnull().values, axis = 1)

print np.sum(df.isnull().values, axis = 1)

# barplot, histogram, boxplot

max(np.sum(df.isnull().values, axis = 1))

Dog ID                                                0
Total Tests Completed                                 0
Mean ITI (days)                                    1268
Mean ITI (minutes)                                 1268
Median ITI (days)                                  1268
Median ITI (minutes)                               1268
Time diff between first and last game (days)          0
Time diff between first and last game (minutes)       0
User ID                                               1
Gender                                                1
Birthday                                              1
Breed                                                16
Breed_Type                                            1
Breed_Group                                           1
Weight                                                1
Dog_Fixed                                             1
DNA_Tested                                            1
Dimension                                             1
Sign_in_Count                                         1
Max_Dogs                                              1
Membership_ID                                         1
Subscribed                                            1
City                                               6368
State                                              6363
Zip                                                6396
Country                                            6268
Exclude                                               1
Free_Start_User                                       1
Last_Active_At                                        1
Membership_Type                                       1
dtype: int64
[0 0 0 0 0]
[0 0 0 ..., 0 4 4]

22

In [48]:
df.isnull().sum()

Dog ID                                                0
Total Tests Completed                                 0
Mean ITI (days)                                    1268
Mean ITI (minutes)                                 1268
Median ITI (days)                                  1268
Median ITI (minutes)                               1268
Time diff between first and last game (days)          0
Time diff between first and last game (minutes)       0
User ID                                               1
Gender                                                1
Birthday                                              1
Breed                                                16
Breed_Type                                            1
Breed_Group                                           1
Weight                                                1
Dog_Fixed                                             1
DNA_Tested                                            1
Dimension                                             1
Sign_in_Count                                         1
Max_Dogs                                              1
Membership_ID                                         1
Subscribed                                            1
City                                               6368
State                                              6363
Zip                                                6396
Country                                            6268
Exclude                                               1
Free_Start_User                                       1
Last_Active_At                                        1
Membership_Type                                       1
dtype: int64

In [82]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    NaN
dtype: float64

In [95]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit([1, 2, 3, 4, 5, 6, 7])
# imp.fit([[0, 1, 2, 3, 4, 5, 6],[1, 2, 3, 4, 5, 6, 7]])
x = pd.Series(imp.transform(s).tolist())
print x
print 
x = pd.Series(imp.transform(s).tolist()[0])
print x
'''
print type(imp.transform(s)[0])
print imp.transform(s).shape
print imp.transform(s)[0].shape
print imp.transform(s)[0].tolist()
# x = pd.Series(imp.transform(s)[0].tolist())
# x = pd.Series((i for i in imp.transform(s)[0].tolist()))
xx = imp.transform(s).reshape(1,-1)
x = pd.Series(xx)
print x
'''

0    [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
dtype: object

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

/Users/arfu/Documents/workspace/tensorflow/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/arfu/Documents/workspace/tensorflow/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/arfu/Documents/workspace/tensorflow/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

'\nprint type(imp.transform(s)[0])\nprint imp.transform(s).shape\nprint imp.transform(s)[0].shape\nprint imp.transform(s)[0].tolist()\n# x = pd.Series(imp.transform(s)[0].tolist())\n# x = pd.Series((i for i in imp.transform(s)[0].tolist()))\nxx = imp.transform(s).reshape(1,-1)\nx = pd.Series(xx)\nprint x\n'

In [96]:
import pandas as pd
import numpy as np
s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
print s.fillna(int(s.mean()))
print
print s.dropna()

0    1.0
1    2.0
2    3.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

0    1.0
1    2.0
2    3.0
4    5.0
5    6.0
dtype: float64